footer {
    margin-top: 40px;
}

.avatar{
    margin-bottom: 10px;
}

.buttons-showview{
    display: inline-block;
}

.comment-form{
    margin-top:20px;
}

.comment-content {
    word-break: break-all;
}

.search{
    margin-bottom: 20px;
}

/* post */
.post .panel-body {
    height: 250px;
}
.post .panel-heading {
    height: 250px;
}
.post .panel-heading img {
    height: 100%;
    max-width: 100%;
}
.post-title {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
